{% extends '::base.html.twig' %}

{% block title %}OSP - Noten{% endblock %}
{% block stylesheets %}

    {#<link rel="stylesheet" href="/bundles/core/admin/css/style.css" />#}
    {% stylesheets '@CoreBundle/Resources/public/admin/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block bodyClass %}blue-grey lighten-5{% endblock %}

{% block body %}
    <nav class="blue">
        <div class="nav-wrapper">

            {% image '@CoreBundle/Resources/public/images/logo_white.png'  output="images/logo_white.png" %}
            <a href="{{ path('grade_search') }}" class="gso-logo"><img src="{{ asset_url }}"></a>
            {% endimage %}

            <ul id="nav-mobile" class="right">
                <li {% if app.request.get('_route') == 'grade_new' %} class="active"{% endif %}><a href="{{ path('grade_new') }}">Hinzufügen</a></li>
                <li {% if app.request.get('_route') == 'grade_search' %} class="active"{% endif %}><a href="{{ path('grade_search') }}">Suchen</a></li>
                <a href="{{ path('logout') }}" class="waves-effect waves-light btn  orange accent-3"><i class="material-icons left">input</i>Logout</a>
            </ul>
        </div>
    </nav>
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}
    {% block content %}{% endblock %}

{% endblock %}

{% block javascripts %}
    {% javascripts '@CoreBundle/Resources/public/admin/js/*' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}