{% extends 'CoreBundle::layout.html.twig' %}

{% block content %}

    <table>
        <tr>
            <td>{{ student.name }}</td>
            <td>{{ student.projectGroup.projectClass.name }}</td>
            Einzelnoten:
            <td>{{ student.singleRating.presentation }}</td>
            <td>{{ student.singleRating.discussion }}</td>
            Gruppennoten:
            <td>{{ student.projectGroup.groupRating.documentation }}</td>
            <td>{{ student.projectGroup.groupRating.product }}</td>
            <td>{{ student.projectGroup.name }}</td>
        </tr>
    </table>

    <a href="{{ path('grade_delete', { 'id': student.id }) }}">löschen</a>

{% endblock %}
