{% extends 'CoreBundle::layout.html.twig' %}

{% form_theme form with ['CoreBundle:Form:form-div-layout-override.html.twig'] %}
{% form_theme groupForm with ['CoreBundle:Form:form-div-layout-override.html.twig'] %}
{% form_theme groupSelectForm with ['CoreBundle:Form:form-div-layout-override.html.twig'] %}

{% block content %}

    <div class="main card-panel">

        <h2 class="header">Schüler hinzufügen</h2>

        {{ form_start(form) }}

        {{ form_row(form.name)}}
        {{ form_row(form.discussion) }}
        {{ form_row(form.presentation) }}
        {{ form_row(form.totalGso) }}
        {{ form_row(form.totalIhk) }}

        {{ form_row(form.group_exists) }}

        <div id="existing">
            {{ form_widget(groupSelectForm) }}
        </div>

        <div id="notexisting">
            {{ form_widget(groupForm) }}
        </div>

        <div class="row">
            <div class="input-field col s6">
                <a  type="submit" value="Speichern"  class="waves-effect waves-light btn"><i class="material-icons left">done</i>Speichern</a>
            </div>
        </div>


        {{ form_end(form) }}
    </div>
{% endblock %}
