{% extends 'CoreBundle::layout.html.twig' %}

{% form_theme form with ['CoreBundle:Form:form-div-layout-override.html.twig'] %}

{% block content %}

<div class="main card-panel">

    <div class="container">

        <div class="row">
            <div class="col s12">
                <h2 class="header">Suche {% if (total is defined and total > 0) %}<small>{{ total }} Ergebnisse</small>{% endif %}</h2>
            </div>
        </div>


        {% if results is defined %}
        <table class="striped search-results" >
            <thead>
            <tr>
                <th>Schülername</th>
                <th>Gruppe</th>
                <th>Betreuer</th>
                <th>Thema</th>
                <th>Klasse</th>
            </tr>
            </thead>
            <tbody>
            {% for result in results %}
            <tr>
                <td><a href="{{ path('student_detail', { 'id': result.id }) }}">{{ result.name }}</a></td>
                <td>{{ result.projectGroup.name }}</td>
                <td>{{ result.projectGroup.advisor.name }}</td>
                <td>{{ result.projectGroup.topic.name }}</td>
                <td>{{ result.projectGroup.projectClass.name }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="col s12 margin-top-20 min-h-50">
            <button type="submit"   onclick="history.go(-1);" class="left btn btn-default pull-left">Zurück</button>
        </div>

        {% else %}

        <div class="row">

        {{ form_start(form) }}

            <div class="col s6">
                {{ form_widget(form.advisor) }}
                {{ form_label(form.advisor) }}
                {{ form_errors(form.advisor) }}
            </div>
            <div class="col s6">
                {{ form_widget(form.topic) }}
                {{ form_label(form.topic) }}
                {{ form_errors(form.topic) }}
            </div>
            <div class="col s6 input-field">

                {{ form_widget(form.name) }}
                {{ form_label(form.name) }}
                {{ form_errors(form.name) }}
            </div>


            {{ form_widget(form) }}


            <div class="col s12 margin-top-20">
                <button type="submit"  class="right btn btn-default pull-right"><i class="material-icons left">search</i>Suchen</button>
            </div>



            {{ form_end(form) }}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
