{% extends 'CoreBundle::layout.html.twig' %}

{% form_theme form with ['CoreBundle:Form:form-div-layout-override.html.twig'] %}

{% block content %}

<div class="main card-panel">

    <h2 class="header">Schüler suchen</h2>

    {% if results is defined %}
    <table>
        {% for result in results %}
        <tr>
            <td>{{ result.name }}</td>
            <td>{{ result.projectGroup.name }}</td>
            <td>{{ result.projectGroup.projectClass.name }}</td>
        </tr>
        {% endfor %}
    </table>

    {% else %}

        {{ form_start(form) }}
        {{ form_widget(form) }}

        <input type="submit" value="Suchen"
               class="btn btn-default pull-right" />
        {{ form_end(form) }}
    {% endif %}
</div>
{% endblock %}
